body{
  font-size: 16px;
}

.links{
  text-align: center;
  padding: 5px;
}

#homepage {
  background: #16222A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
}
.row{
  padding-bottom: 2rem;
}
.profilepic {
  max-width: 300px;
  max-height: 300px;
}
#about {
  font-size: 1.6rem;
  padding-top: 20%;
  padding-bottom: 20%;
 background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* this section handles the hover project image settings */
#projects{
background: #F1F2B5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #135058, #F1F2B5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #135058, #F1F2B5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.project-display{
  padding-left: 5rem;
  padding-right: 5rem;
}
.img-hover{
  position: relative;
  overflow: hidden;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-hover img{
  max-width: 100%;
}
.img-hover .bottom-layer {
  display: block;
}
.img-hover .top-layer {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 100, 0.8);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.img-hover:hover .top-layer, 
.img-hover.active .top-layer {
  opacity: 1;
}
.img-hover .img-text {
  text-align: center;
  font-size: 1.8rem;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.img-description{
  font-size: 1.5rem;
}
hr {
  border: 1px solid;

}
/*Project section Done*/

.intro{
  height: 100vh;
  align-items: center;
  background: none;
}
.contentcol{
  align-items: center;
}
.project-img{
  align-self: center;
  align-content: center;

}

.welcome-text {
  color: #ffffff;
}

div.pp{
  padding-left: 100px;
}

.heading1{
  font-size: 5rem;
  font-weight:600;
  letter-spacing: 0.8rem;
  position: relative;
  animation: text 3s 1;
}
.heading2{
  font-size: 2.2rem;
  color: #6ab04c;
  border-width: 2px;
}
@keyframes text {
  0%{
    color: #000;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 2rem;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 0.8rem;
    margin-bottom: -40px;
  }
}


#about {
  padding-top: 5em;
  min-height: 30rem;
  position: relative;
  width: 100%;
  height: 100vh;
}
.profile-pic{
  width: 200px;
}

.button-navs{
  margin: 2% 5% 2% 5%;
  align-items: center;
}


.about {
  background-color: #00f080;
}
.projects {
  
}

.portfolio-item{
  background-image: url("../img/bckimg.jpg");
}
.services {
  
}
header p{
  font-size: 0.7rem;
}
.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  font-size: 28px;
}

.content-section h2 {
  font-size: 2em;
}

.content-section p {
  font-size: 0.7em;
}

@media only screen and (max-width: 768px) {
  .intro {
    margin-left: 0;
    margin-right: 0;
  }
  .section {
    height: 400px;
    margin-left: 0;
    margin-right: 0;
  }
  .content-section {
    font-size: 25px;
  }

  .masthead h1 {
    font-size: 4.4rem;
  }
}

@media only screen and (max-width: 480px) {
  html{
    font-size: 10px;
  }
  .intro {
    margin-left: 0;
    margin-right: 0;
  } 
  .section {
    height: 400px;
    margin-left: 0;
    margin-right: 0;
  }
  .content-section {
    font-size: 22px;
  }
  .masthead h1{
    font-size: 3.5rem;
  }
}